* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    color:#000;
    background:#000;
}

html{
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: background .3s ease;
    box-shadow:
        0 4px 20px rgba(120, 120, 120, 0.25),
        0 0 30px rgba(72, 59, 255, 0.10);
}

.logo {
    position: relative;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #7168EBFF;
}

.home{
    position:relative;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px 10% 0;
    background-image:url("./capa_pic.svg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span {
    color: #7168EBFF;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;


}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #7168EBFF;
    border-radius: 50%;
    font-size: 20px;
    color: #7168EBFF;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #7168EBFF;
    color: #081b29;
    box-shadow: 0 0 20px #7168EBFF;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    /*background: #0ef;*/
    background: #7168EBFF;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #7168EBFF,
        0 0 25px #7168EBFF
}

.btn-box:hover {
    box-shadow: 0 0 5px #7168EBFF,
        0 0 25px #7168EBFF, 0 0 50px #7168EBFF,
        0 0 100px #7168EBFF, 0 0 200px #7168EBFF
}

.about-section{
    width:100%;
    min-height:70vh;
    background:#bab8c3;
    display:flex;
    align-items:center;
    padding:80px 10%;
}


.about-container{width:100%;}

.about-container h2{
    color:#000;
    font-size:30px;
    font-weight:700;
    margin-bottom:45px;
}


.about-content{
    display:flex;
    gap:35px;
}


.about-line{
    width:5px;
    background:#7168EBFF;
    min-height:320px;
}

.about-text{max-width:1600px;}

.about-text p{
    color:#111;
    font-size:18px;
    line-height:1.25;
    margin-bottom:25px;
    font-weight:400;
}
/* animação */

.about-container{
    opacity:0;
}

.about-container.show{
    animation:slideLeft 1s ease forwards;
    animation-delay:.3s;
}

.portfolio-section{
    width:100%;
    min-height:100vh;
    background:#bab8c3;
    padding:80px 10%;
}

.portfolio-container h2{
    color:#000;
    font-size:30px;
    margin-bottom:45px;
}

.portfolio-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,340px));
    justify-content:center;
    gap:40px;
}

.project-card{
    position:relative;
    height:450px;
    border-radius:3rem;
    overflow:hidden;
}

.project-img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.4s;
}

.project-card:hover .project-img{transform:scale(1.1);}

.project-shadow{
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        180deg,
        rgba(128,128,128,0) 40%,
        rgba(128,128,128,0.45) 75%,
        rgba(80,80,80,0.65) 100%
    );
        /*transparent 50%,
        #000 100%);*/
}

.project-data{
    position:absolute;
    bottom:40px;
    left:35px;
    color:white;
}

.project-data h3{font-size:30px;}

.project-data span{font-size:16px;}

.project-button{
    position:absolute;
    top:25px;
    right:25px;
    width:45px;
    height:45px;
    border-radius:50%;
    display:grid;
    place-items:center;
    background:#7168EBFF;
    color:#000;
    font-size:28px;
    box-shadow:
    0 0 20px #483BFF;
    cursor:pointer;
    z-index:5;
    transition:.4s;
}

.project-card:hover .project-button{transform:rotate(-45deg);}


.project-info{
    position:absolute;
    inset:0;
    padding:60px 30px;
    color:white;
    background:
    rgba(0,0,0,.2);
    backdrop-filter:blur(12px);
    clip-path:
    circle(10px at 90% 10%);
    transition:
    clip-path .5s ease-in-out;
}

.project-info h3{font-size:30px;}

.project-info p{
    margin-top:20px;
    font-size:17px;
    line-height:1.5;
}

.project-link{
    display:inline-block;
    margin-top:25px;
    padding:12px 25px;
    background:#483BFF;
    color:#000;
    border-radius:30px;
    font-weight:bold;
}

.project-info:hover,
.project-button:hover ~ .project-info{
    clip-path:
    circle(100%);
}

.project-blue{
    --project-color:#483BFF;
}

.project-purple{
    --project-color:#ff0095;
}

.work-section{
    width:100%;
    min-height:100vh;
    background:#BFBDC8FF;
    padding:90px 10%;
}

.work-container h2{
    color:#000;
    font-size:30px;
    margin-bottom:15px;
    text-align:center;
}

.work-subtitle{
    color:#8F8E91FF;
    font-size:20px;
    margin-bottom:50px;
    text-align:center;
}

.work-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
    justify-items:center;
}

.work-card{
    width:100%;
    rgba(255,255,255,0.08);
    border:2px solid #BFBFBFFF;
    backdrop-filter:blur(12px);
    border-radius:25px;
    padding:35px;
    transition:.4s;
    min-height:240px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.work-card h3{
    color:#000;
    font-size:26px;
    margin-bottom:20px;
    transition:color .35s ease;
}

.work-card p{
    color:#8F8E91FF;
    font-size:17px;
    line-height:1.5;
}

.work-card:hover h3,
.work-card:hover p{
    color:#8F8E91FF;
    transform:translateY(-10px);
    box-shadow:
        0 20px 40px rgba(113,104,235,.35),
        0 30px 60px rgba(113,104,235,.15);
}

/*
.work-card h3{
    color:#7168EBFF;
    font-size:26px;
    margin-bottom:20px;
}

.work-card p{
    color:#8F8E91FF;
    font-size:17px;
    line-height:1.5;
}

.work-card:hover{
    transform:translateY(-10px);
    box-shadow:
        0 20px 40px rgba(113,104,235,.35),
        0 30px 60px rgba(113,104,235,.15);
}*/

/*cyan
#0ef*/

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1024px){

}

@media (max-width:768px){

    .header{padding:18px 6%;}
    .logo{font-size:22px;}
    .navbar a{
        font-size:16px;
        margin-left:16px;
    }
    .home{
        flex-direction:column;
        justify-content:center;
        text-align:center;
        padding:120px 8% 60px;
    }
    .home-content{max-width:100%;}
    .home-content h1{font-size:40px;}
    .home-content h3{font-size:24px;}
    .home-content p{font-size:17px;}
    .home-sci{
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
    }
    .home-sci a{
        width:46px;
        height:46px;
    }
    .btn-box{
        width:100%;
        max-width:260px;
    }
    .body-section img{
        width:100%;
        height:auto;
    }
}

@media (max-width: 480px){}

@media(max-width:900px){.work-cards{grid-template-columns:repeat(2,1fr);}}

@media(max-width:600px){.work-cards{grid-template-columns:1fr;}}
